# 1. Data to be used

All data is from the CIA World Factbook (https://www.cia.gov/library/publications/resources/the-world-factbook/)

1. 'emissions' reports millions of megatons of carbon dioxide emitted nationally from consumption of energy
2. 'urban' is the percent of total population living in urban areas
3. 'gdp' is the gross domestic product per capita in US dollars
4. 'population' reports number of people

Links to the tables of data:

1. emissions = https://www.cia.gov/library/publications/resources/the-world-factbook/fields/274.html
2. urban = https://www.cia.gov/library/publications/resources/the-world-factbook/fields/349.html
3. gdp = https://www.cia.gov/library/publications/resources/the-world-factbook/fields/211.html
4. pop= https://www.cia.gov/library/publications/resources/the-world-factbook/fields/335.html

# 2. Reading the data

In [2]:
import pandas as pd

In [3]:
#creating a dataframe of CO2 emmissions
link1="https://www.cia.gov/library/publications/resources/the-world-factbook/fields/274.html"
emissions=pd.read_html(link1,header=0,flavor='bs4',attrs={'id': 'fieldListing'})[0]
emissions.head()

          Country Carbon dioxide emissions from consumption of energy
0     Afghanistan                      9.067 million Mt  (2017 est.)
1         Albania                        4.5 million Mt  (2017 est.)
2         Algeria                      135.9 million Mt  (2017 est.)
3  American Samoa                            361,100 Mt  (2017 est.)
4          Angola                      20.95 million Mt  (2017 est.)

In [4]:
#creating a dataframe of percent urbanization
link2="https://www.cia.gov/library/publications/resources/the-world-factbook/fields/349.html"
urban=pd.read_html(link2,header=0,flavor='bs4',attrs={'id': 'fieldListing'})[0]
urban.head()

          Country                                       Urbanization
0     Afghanistan  urban population:  25.5% of total population  ...
1         Albania  urban population:  60.3% of total population  ...
2         Algeria  urban population:  72.6% of total population  ...
3  American Samoa  urban population:  87.2% of total population  ...
4         Andorra  urban population:  88.1% of total population  ...

In [5]:
#creating a dataframe of GDP per capita
link3="https://www.cia.gov/library/publications/resources/the-world-factbook/fields/211.html"
gdp=pd.read_html(link3,header=0,flavor='bs4',attrs={'id': 'fieldListing'})[0]
gdp.shape

(232, 2)

In [6]:
#creating a data frame of population
link4="https://www.cia.gov/library/publications/resources/the-world-factbook/fields/335.html"
pop=pd.read_html(link4,header=0,flavor='bs4',attrs={'id': 'fieldListing'})[0]
pop.shape

(262, 2)

# 3. Merging data sets

In [7]:
#1st merge. Confirm that country data is lining up. 
join1=pd.merge(emissions,urban,left_on='Country',right_on='Country')
join1.head()

,Country,Carbon dioxide emissions from consumption of energy,Urbanization
0,Afghanistan,9.067 million Mt (2017 est.),urban population: 25.5% of total population ...
1,Albania,4.5 million Mt (2017 est.),urban population: 60.3% of total population ...
2,Algeria,135.9 million Mt (2017 est.),urban population: 72.6% of total population ...
3,American Samoa,"361,100 Mt (2017 est.)",urban population: 87.2% of total population ...
4,Angola,20.95 million Mt (2017 est.),urban population: 65.5% of total population ...

In [8]:
#18 countries that didn't show up in both dataframes being merged were dropped.
join1.shape

(214, 3)

In [9]:
#2nd merge. Confirm that country data is lining up. 
join2=pd.merge(join1,gdp,on='Country')
join2.shape

(214, 4)

In [10]:
#3rd merge. Confirm that country data is lining up. 
data=pd.merge(join2,pop,on='Country')
data.head()

,Country,Carbon dioxide emissions from consumption of energy,Urbanization,GDP - per capita (PPP),Population
0,Afghanistan,9.067 million Mt (2017 est.),urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)"
1,Albania,4.5 million Mt (2017 est.),urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)"
2,Algeria,135.9 million Mt (2017 est.),urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)"
3,American Samoa,"361,100 Mt (2017 est.)",urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)"
4,Angola,20.95 million Mt (2017 est.),urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)..."

In [11]:
data.shape

(214, 5)

# 4. Renaming columns

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 213
Data columns (total 5 columns):
Country                                                214 non-null object
Carbon dioxide emissions from consumption of energy    214 non-null object
Urbanization                                           214 non-null object
GDP - per capita (PPP)                                 214 non-null object
Population                                             214 non-null object
dtypes: object(5)
memory usage: 10.0+ KB

In [13]:
data.columns

Index(['Country', 'Carbon dioxide emissions from consumption of energy',
       'Urbanization', 'GDP - per capita (PPP)', 'Population'],
      dtype='object')

In [14]:
newNames=['Country','CO2_Emissions','Urbanization','GDP_Per_Capita']

In [15]:
nameChanges={old:new for old,new in zip(data.columns,newNames)}

In [16]:
data.rename(nameChanges,axis=1,inplace=True)

In [17]:
data.head()

,Country,CO2_Emissions,Urbanization,GDP_Per_Capita,Population
0,Afghanistan,9.067 million Mt (2017 est.),urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)"
1,Albania,4.5 million Mt (2017 est.),urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)"
2,Algeria,135.9 million Mt (2017 est.),urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)"
3,American Samoa,"361,100 Mt (2017 est.)",urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)"
4,Angola,20.95 million Mt (2017 est.),urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)..."

In [18]:
data.dtypes

Country           object
CO2_Emissions     object
Urbanization      object
GDP_Per_Capita    object
Population        object
dtype: object

# 5. Cleaning the CO2 Emissions Column

In [19]:
#Split values after million
emissionsnumber=[element.split(' Mt')[0] for element in data.CO2_Emissions]

#Making the above list a new column:
data=data.assign(CO2_Emissions_Number=emissionsnumber)
data.head()

,Country,CO2_Emissions,Urbanization,GDP_Per_Capita,Population,CO2_Emissions_Number
0,Afghanistan,9.067 million Mt (2017 est.),urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9.067 million
1,Albania,4.5 million Mt (2017 est.),urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4.5 million
2,Algeria,135.9 million Mt (2017 est.),urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135.9 million
3,American Samoa,"361,100 Mt (2017 est.)",urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)","361,100"
4,Angola,20.95 million Mt (2017 est.),urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20.95 million

In [20]:
# the new values have text, which tells the units, so we want to keep that somewhere

units=[] #empty list

for element in data.CO2_Emissions_Number:
  result=element.split(' ')
  if len(result)>1:
      units.append(result[1])  # add text
  else:
    units.append(1) # add '1'

In [21]:
#Making the above list a new column:
data=data.assign(units=units)
data.head()

,Country,CO2_Emissions,Urbanization,GDP_Per_Capita,Population,CO2_Emissions_Number,units
0,Afghanistan,9.067 million Mt (2017 est.),urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9.067 million,million
1,Albania,4.5 million Mt (2017 est.),urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4.5 million,million
2,Algeria,135.9 million Mt (2017 est.),urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135.9 million,million
3,American Samoa,"361,100 Mt (2017 est.)",urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)","361,100",1
4,Angola,20.95 million Mt (2017 est.),urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20.95 million,million

In [22]:
#Now I can keep the first element (number):
emissionsnumber=[element.split(' ')[0] for element in data.CO2_Emissions_Number]

#Making the above list a new column:
data=data.assign(CO2_Emissions_Number=emissionsnumber)
data.head()

,Country,CO2_Emissions,Urbanization,GDP_Per_Capita,Population,CO2_Emissions_Number,units
0,Afghanistan,9.067 million Mt (2017 est.),urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9.067,million
1,Albania,4.5 million Mt (2017 est.),urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4.5,million
2,Algeria,135.9 million Mt (2017 est.),urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135.9,million
3,American Samoa,"361,100 Mt (2017 est.)",urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)","361,100",1
4,Angola,20.95 million Mt (2017 est.),urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20.95,million

In [23]:
data.units.value_counts() # we need to turn this into numbers

million    162
1           46
billion      6
Name: units, dtype: int64

In [24]:
newUnits=[10**6 if x=='million' else x for x in data.units] # first the millions
newUnits=[10**9 if x=='billion' else x for x in newUnits] #then the billions
# rewriting column
data=data.assign(units=newUnits)
data.head()

,Country,CO2_Emissions,Urbanization,GDP_Per_Capita,Population,CO2_Emissions_Number,units
0,Afghanistan,9.067 million Mt (2017 est.),urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9.067,1000000
1,Albania,4.5 million Mt (2017 est.),urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4.5,1000000
2,Algeria,135.9 million Mt (2017 est.),urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135.9,1000000
3,American Samoa,"361,100 Mt (2017 est.)",urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)","361,100",1
4,Angola,20.95 million Mt (2017 est.),urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20.95,1000000

In [25]:
data.dtypes # checking data type

Country                 object
CO2_Emissions           object
Urbanization            object
GDP_Per_Capita          object
Population              object
CO2_Emissions_Number    object
units                    int64
dtype: object

In [26]:
# there are values with commas, I need to:
import re
pattern='\\,'
nothing=''
testString='1,073,002'
re.sub(pattern,nothing,testString)

'1073002'

In [27]:
pattern='\\,'
nothing=''

newValues=[re.sub(pattern,nothing,oldValue) for oldValue in data.CO2_Emissions_Number]

In [28]:
# now full numeric column
data=data.assign(CO2_Emissions_Number=newValues)
data.head()

,Country,CO2_Emissions,Urbanization,GDP_Per_Capita,Population,CO2_Emissions_Number,units
0,Afghanistan,9.067 million Mt (2017 est.),urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9.067,1000000
1,Albania,4.5 million Mt (2017 est.),urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4.5,1000000
2,Algeria,135.9 million Mt (2017 est.),urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135.9,1000000
3,American Samoa,"361,100 Mt (2017 est.)",urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)",361100,1
4,Angola,20.95 million Mt (2017 est.),urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20.95,1000000

In [29]:
data.dtypes #to see that CO2_Emissions Number is not yet float64 numbers

Country                 object
CO2_Emissions           object
Urbanization            object
GDP_Per_Capita          object
Population              object
CO2_Emissions_Number    object
units                    int64
dtype: object

In [30]:
data.CO2_Emissions_Number=pd.to_numeric(data.CO2_Emissions_Number) #to convert to float64 numbers

In [31]:
data.dtypes #make sure it worked

Country                  object
CO2_Emissions            object
Urbanization             object
GDP_Per_Capita           object
Population               object
CO2_Emissions_Number    float64
units                     int64
dtype: object

In [32]:
data.head()

,Country,CO2_Emissions,Urbanization,GDP_Per_Capita,Population,CO2_Emissions_Number,units
0,Afghanistan,9.067 million Mt (2017 est.),urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9.067,1000000
1,Albania,4.5 million Mt (2017 est.),urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4.500,1000000
2,Algeria,135.9 million Mt (2017 est.),urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135.900,1000000
3,American Samoa,"361,100 Mt (2017 est.)",urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)",361100.000,1
4,Angola,20.95 million Mt (2017 est.),urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20.950,1000000

In [33]:
#Multiply units and CO2_Emissions_Number to get the entire number
data.CO2_Emissions_Number=data.CO2_Emissions_Number*data.units

In [34]:
data.head()

,Country,CO2_Emissions,Urbanization,GDP_Per_Capita,Population,CO2_Emissions_Number,units
0,Afghanistan,9.067 million Mt (2017 est.),urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9067000.0,1000000
1,Albania,4.5 million Mt (2017 est.),urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4500000.0,1000000
2,Algeria,135.9 million Mt (2017 est.),urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135900000.0,1000000
3,American Samoa,"361,100 Mt (2017 est.)",urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)",361100.0,1
4,Angola,20.95 million Mt (2017 est.),urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,1000000

In [35]:
#dropping the old CO2 Emissions columns
data=data.drop('units',axis=1).drop('CO2_Emissions',axis=1)

In [36]:
data.head()

,Country,Urbanization,GDP_Per_Capita,Population,CO2_Emissions_Number
0,Afghanistan,urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9067000.0
1,Albania,urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4500000.0
2,Algeria,urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135900000.0
3,American Samoa,urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)",361100.0
4,Angola,urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0

## 6. Cleaning the Urbanization Column

In [37]:
urbanizationnumber=[element.split('%')[0] for element in data.Urbanization]
data=data.assign(Urbanization1=urbanizationnumber)
data.head()

,Country,Urbanization,GDP_Per_Capita,Population,CO2_Emissions_Number,Urbanization1
0,Afghanistan,urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9067000.0,urban population: 25.5
1,Albania,urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4500000.0,urban population: 60.3
2,Algeria,urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135900000.0,urban population: 72.6
3,American Samoa,urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)",361100.0,urban population: 87.2
4,Angola,urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,urban population: 65.5

In [38]:
urbanizationnumber=[element.split(':')[1] for element in data.Urbanization1]
data=data.assign(Urbanization_Number=urbanizationnumber)
data.head()

,Country,Urbanization,GDP_Per_Capita,Population,CO2_Emissions_Number,Urbanization1,Urbanization_Number
0,Afghanistan,urban population: 25.5% of total population ...,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9067000.0,urban population: 25.5,25.5
1,Albania,urban population: 60.3% of total population ...,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4500000.0,urban population: 60.3,60.3
2,Algeria,urban population: 72.6% of total population ...,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135900000.0,urban population: 72.6,72.6
3,American Samoa,urban population: 87.2% of total population ...,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)",361100.0,urban population: 87.2,87.2
4,Angola,urban population: 65.5% of total population ...,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,urban population: 65.5,65.5

In [39]:
data.dtypes

Country                  object
Urbanization             object
GDP_Per_Capita           object
Population               object
CO2_Emissions_Number    float64
Urbanization1            object
Urbanization_Number      object
dtype: object

In [40]:
data.Urbanization_Number=pd.to_numeric(data.Urbanization_Number)

In [41]:
data.dtypes

Country                  object
Urbanization             object
GDP_Per_Capita           object
Population               object
CO2_Emissions_Number    float64
Urbanization1            object
Urbanization_Number     float64
dtype: object

In [42]:
#dropping old Urbanization columns
data=data.drop("Urbanization",axis=1).drop("Urbanization1",axis=1)

In [43]:
data.head()

,Country,GDP_Per_Capita,Population,CO2_Emissions_Number,Urbanization_Number
0,Afghanistan,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9067000.0,25.5
1,Albania,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4500000.0,60.3
2,Algeria,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135900000.0,72.6
3,American Samoa,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)",361100.0,87.2
4,Angola,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,65.5

## 7. Cleaning the GDP Per Capita Column

In [44]:
#Split values after million
gdppercapita=[element.split('(')[0] for element in data.GDP_Per_Capita]

#Making the above list a new column:
data=data.assign(GDPPerCapita1=gdppercapita)
data.head()

,Country,GDP_Per_Capita,Population,CO2_Emissions_Number,Urbanization_Number,GDPPerCapita1
0,Afghanistan,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9067000.0,25.5,"$2,000"
1,Albania,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4500000.0,60.3,"$12,500"
2,Algeria,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135900000.0,72.6,"$15,200"
3,American Samoa,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)",361100.0,87.2,"$11,200"
4,Angola,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,65.5,"$6,800"

In [45]:
#Split values after million
gdppercapita=[element.split('$')[1] for element in data.GDPPerCapita1]

#Making the above list a new column:
data=data.assign(GDPPerCapita2=gdppercapita)
data.head()

,Country,GDP_Per_Capita,Population,CO2_Emissions_Number,Urbanization_Number,GDPPerCapita1,GDPPerCapita2
0,Afghanistan,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9067000.0,25.5,"$2,000","2,000"
1,Albania,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4500000.0,60.3,"$12,500","12,500"
2,Algeria,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135900000.0,72.6,"$15,200","15,200"
3,American Samoa,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)",361100.0,87.2,"$11,200","11,200"
4,Angola,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,65.5,"$6,800","6,800"

In [46]:
pattern='\\,'
nothing=''
testString='2,100'
re.sub(pattern,nothing,testString)

'2100'

In [47]:
#to get rid of the commas
pattern='\\,'
nothing=''
newValues=[re.sub(pattern,nothing,oldValue) for oldValue in data.GDPPerCapita2]

In [48]:
data=data.assign(GDP_Per_Capita_Number=newValues)
data.head()

,Country,GDP_Per_Capita,Population,CO2_Emissions_Number,Urbanization_Number,GDPPerCapita1,GDPPerCapita2,GDP_Per_Capita_Number
0,Afghanistan,"$2,000 (2017 est.) $2,000 (2016 est.) $2,0...","34,940,837 (July 2018 est.)",9067000.0,25.5,"$2,000","2,000",2000
1,Albania,"$12,500 (2017 est.) $12,100 (2016 est.) $1...","3,057,220 (July 2018 est.)",4500000.0,60.3,"$12,500","12,500",12500
2,Algeria,"$15,200 (2017 est.) $15,200 (2016 est.) $1...","41,657,488 (July 2018 est.)",135900000.0,72.6,"$15,200","15,200",15200
3,American Samoa,"$11,200 (2016 est.) $11,300 (2015 est.) $1...","50,826 (July 2018 est.)",361100.0,87.2,"$11,200","11,200",11200
4,Angola,"$6,800 (2017 est.) $7,200 (2016 est.) $7,6...","30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,65.5,"$6,800","6,800",6800

In [49]:
#dropping old GDP columnns
data=data.drop("GDP_Per_Capita",axis=1).drop("GDPPerCapita1",axis=1).drop("GDPPerCapita2",axis=1)

In [50]:
data.dtypes

Country                   object
Population                object
CO2_Emissions_Number     float64
Urbanization_Number      float64
GDP_Per_Capita_Number     object
dtype: object

In [51]:
#need to replace NA values with nothing
pattern='NA'
nothing=''
testString='NA'
re.sub(pattern,nothing,testString)

''

In [52]:
#to get rid of the NA's
pattern='NA'
nothing=''
newValues=[re.sub(pattern,nothing,oldValue) for oldValue in data.GDP_Per_Capita_Number]

In [53]:
data=data.assign(GDP_Per_Capita_Number=newValues)
data.head()

,Country,Population,CO2_Emissions_Number,Urbanization_Number,GDP_Per_Capita_Number
0,Afghanistan,"34,940,837 (July 2018 est.)",9067000.0,25.5,2000
1,Albania,"3,057,220 (July 2018 est.)",4500000.0,60.3,12500
2,Algeria,"41,657,488 (July 2018 est.)",135900000.0,72.6,15200
3,American Samoa,"50,826 (July 2018 est.)",361100.0,87.2,11200
4,Angola,"30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,65.5,6800

In [54]:
pattern=' '
nothing=''
testString=' NA '
re.sub(pattern,nothing,testString)

'NA'

In [55]:
#to get rid of the NA's
pattern=' '
nothing=''
newValues=[re.sub(pattern,nothing,oldValue) for oldValue in data.GDP_Per_Capita_Number]

In [56]:
data=data.assign(GDP_Per_Capita_Number=newValues)
data.head()

,Country,Population,CO2_Emissions_Number,Urbanization_Number,GDP_Per_Capita_Number
0,Afghanistan,"34,940,837 (July 2018 est.)",9067000.0,25.5,2000
1,Albania,"3,057,220 (July 2018 est.)",4500000.0,60.3,12500
2,Algeria,"41,657,488 (July 2018 est.)",135900000.0,72.6,15200
3,American Samoa,"50,826 (July 2018 est.)",361100.0,87.2,11200
4,Angola,"30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,65.5,6800

In [57]:
data.GDP_Per_Capita_Number=pd.to_numeric(data.GDP_Per_Capita_Number)

In [58]:
data.head()

,Country,Population,CO2_Emissions_Number,Urbanization_Number,GDP_Per_Capita_Number
0,Afghanistan,"34,940,837 (July 2018 est.)",9067000.0,25.5,2000.0
1,Albania,"3,057,220 (July 2018 est.)",4500000.0,60.3,12500.0
2,Algeria,"41,657,488 (July 2018 est.)",135900000.0,72.6,15200.0
3,American Samoa,"50,826 (July 2018 est.)",361100.0,87.2,11200.0
4,Angola,"30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,65.5,6800.0

## 8. Cleaning the Population Column

In [59]:
#split values at (
popnumber=[element.split(' (')[0] for element in data.Population]

#Making the above list a new column:
data=data.assign(Population1=popnumber)
data.head()

,Country,Population,CO2_Emissions_Number,Urbanization_Number,GDP_Per_Capita_Number,Population1
0,Afghanistan,"34,940,837 (July 2018 est.)",9067000.0,25.5,2000.0,"34,940,837"
1,Albania,"3,057,220 (July 2018 est.)",4500000.0,60.3,12500.0,"3,057,220"
2,Algeria,"41,657,488 (July 2018 est.)",135900000.0,72.6,15200.0,"41,657,488"
3,American Samoa,"50,826 (July 2018 est.)",361100.0,87.2,11200.0,"50,826"
4,Angola,"30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,65.5,6800.0,"30,355,880"

In [60]:
# getting rid of commas
pattern='\\,'
nothing=''
testString='198,450'
re.sub(pattern,nothing,testString)

'198450'

In [61]:
# getting rid of commas in all values and creating newValues container
pattern='\\,'
nothing=''

newValues=[re.sub(pattern,nothing,oldValue) for oldValue in data.Population1]

In [62]:
#replacing old column, Population1 with newValues
data=data.assign(Population1=newValues)
data.head()

,Country,Population,CO2_Emissions_Number,Urbanization_Number,GDP_Per_Capita_Number,Population1
0,Afghanistan,"34,940,837 (July 2018 est.)",9067000.0,25.5,2000.0,34940837
1,Albania,"3,057,220 (July 2018 est.)",4500000.0,60.3,12500.0,3057220
2,Algeria,"41,657,488 (July 2018 est.)",135900000.0,72.6,15200.0,41657488
3,American Samoa,"50,826 (July 2018 est.)",361100.0,87.2,11200.0,50826
4,Angola,"30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,65.5,6800.0,30355880

In [63]:
#some of the values still aren't just numbers so going to split again at spaces
popnumber=[element.split(' ')[0] for element in data.Population1]

#Making the above list a new column:
data=data.assign(Population_Number=popnumber)
data.head()

,Country,Population,CO2_Emissions_Number,Urbanization_Number,GDP_Per_Capita_Number,Population1,Population_Number
0,Afghanistan,"34,940,837 (July 2018 est.)",9067000.0,25.5,2000.0,34940837,34940837
1,Albania,"3,057,220 (July 2018 est.)",4500000.0,60.3,12500.0,3057220,3057220
2,Algeria,"41,657,488 (July 2018 est.)",135900000.0,72.6,15200.0,41657488,41657488
3,American Samoa,"50,826 (July 2018 est.)",361100.0,87.2,11200.0,50826,50826
4,Angola,"30,355,880 (July 2017 est.) (July 2018 est.)...",20950000.0,65.5,6800.0,30355880,30355880

In [64]:
data.dtypes

Country                   object
Population                object
CO2_Emissions_Number     float64
Urbanization_Number      float64
GDP_Per_Capita_Number    float64
Population1               object
Population_Number         object
dtype: object

In [65]:
#converting Population_Number from object to float64
data.Population_Number=pd.to_numeric(data.Population_Number)

In [66]:
#dropping old population columns
data=data.drop("Population",axis=1).drop("Population1",axis=1)

In [67]:
data.head()

,Country,CO2_Emissions_Number,Urbanization_Number,GDP_Per_Capita_Number,Population_Number
0,Afghanistan,9067000.0,25.5,2000.0,34940837
1,Albania,4500000.0,60.3,12500.0,3057220
2,Algeria,135900000.0,72.6,15200.0,41657488
3,American Samoa,361100.0,87.2,11200.0,50826
4,Angola,20950000.0,65.5,6800.0,30355880

## 9. Saving File for R

In [68]:
data.to_csv("Cleaned_Data.csv",index=None)